@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');




body {
    font-family: "Nunito", sans-serif;
    font-optical-sizing: auto;
    font-weight: normal;
    font-style: normal;
    font-size: 1rem;
    background-color: #00A0DF;
    color: #fff;
    margin: 0;
}


h1 {
    margin-top: 0;
    margin-bottom: 3vh;
}

h1:active {
    
    position: relative;
    animation: leftright 2s alternate infinite;
}

.button, .input-field {
    padding: 20px;
    /*margin: 10px;*/
    min-width: 35vw;
    text-align: center;
    transition: 0.1s;
    font-size: 2rem;
    box-sizing: border-box;
}

.button {
    border: #fff solid 2px;
    color: #fff;
    background-color: #002d74;
    
}

.button:active {
    transform: scale(0.99);
    transition: 0.1s;
}

.input-field {
    border: #002d74 solid 2px;
    color: #002d74;
    background-color: #fff;
}

.answer-contain {
    display: flex;
    align-items: stretch;

}

p {
    text-align: justify;
    width: 70vw;
    margin-top: 1vh;
    margin-bottom: 1vh;
}

.container, .content, .answer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.answer * {
    margin: 1vh auto;
}

.container {
    justify-content: space-between;
    height: 100vh;
}


.btn-container {
    display: flex;
    margin: 10vh auto;
}

.main-logo {
    width: 50vw;
    margin-top: 4vh;
    margin-bottom: 4vh;
}

.stretch {
    flex-grow: 1; 
  }

.task {
    width: 80vw;
    margin: auto;
}

@keyframes hint {
    0% {
        
        opacity: 0;
    }
    90% {
        opacity: 0.1;
    }
    100% {
        opacity: 1;

    }
}
.clock {
    display:flex;
    align-items: center;
    justify-content: center;
    width: 50vw;
    height: 50vw;
    border-radius: 10000%;
    background-color: #fff;
    
}
.clock::before {
    content: "";
    background-image: url('assets/clock.svg');
    background-repeat: no-repeat;
  
    position: absolute;
    z-index: 1;
  
    width: 50vw;
    height: 50vw;
    animation: hint 350s;
    left:50%;
    margin-left: -25vw;
    
}

.arrow {
    /*background: linear-gradient(180deg, rgba(14,0,255,1) 0%,rgba(255,0,0,1) 100%);*/
    height: 70%;
    width: 10%;
    position: absolute;
    transition: 0.5s;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}


#arrowhour {
    background-image: url("assets/arrow-01.png");
}
#arrowmin {
    background-image: url("assets/arrow-02.png");
}

/*.clock:hover .arrow{
    transform: rotate(90deg);
}*/

.correhour {
    transform: rotate(180deg);
}

.corremin {
    transform: rotate(180deg) scaleY(1.35);
   
}